/* Body Styling */
body {
	margin: 0;
	padding: 0;
}

/* Header Nav Styling */
.nav {
	background-color: #FFF0ED;
	margin: 0;
	padding: 0;
	/* text-align: center; */
	display: flex;
	/* justify-content: flex-start; */
	/* align-items: center; */
	flex-wrap: wrap;
}

.nav__logotitle {
	display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
	margin: 0 0 0 1rem;
}

.nav__logo {
	width: 40%;
}

.nav__title {
	font-size: 3.75rem;
	font-weight: 300;
	margin: 0;
	padding-right: 4rem;
}

.nav__links {
	list-style-type: none;
	font-size: 1.31rem;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-grow: 1;
	gap: 4rem;
	margin-right: 1rem;
	align-items: flex-end;
}

.nav__link--anchor {
	text-decoration: none;
	color: black;
}

.nav__link--shopnow {
	color: #5BACC3 !important;
}

/* section nitro coffee */
.nitrocoffee {
	background-color: #FFF0ED;
	display: flex;
	flex-direction: row;
	height: 85vh;
	justify-content: space-around;
	flex-wrap: wrap;
}

.nitrocoffee__box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.nitrocoffee__title {
	font-size: 4.5rem;
	font-weight: 300;
	margin: 0;
}

.nitrocoffee__button {
	font-size: 1.31rem;
	font-weight: 400;
	background-color: #5BACC3;
	color: white;
	border: #5BACC3;
	padding: 1rem 1.8rem 1rem 2.3rem;
	margin-top: 1rem;
}

.nitrocoffee__image {
	height: 70.5vh;
	width: 21.5%;
	padding-top: 2rem;
}

/* product styling */
.products {
	background-color: #F7F7F7;
	padding: 1rem;
}

.products__title {
	font-size: 3.75rem;
	font-weight: 300;
	text-align: center;
	margin: 0;
}

.products__cards {
	margin: 2rem;
	padding: 2rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 0.5rem;
	flex-shrink: inherit;
	width: auto;
}

.products__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid rgb(255, 255, 255);
	box-shadow: 5px 5px 10px 5px rgb(215, 214, 214);
	border-radius: 1rem;
	text-align: center;
}

.products__card--image {
	height: 25vh;
	margin: 2rem 5rem;
	padding: 0;
	width: 45%;
}

.products__containers {
	/* border: 2px solid red; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #FFF0ED;
	width: 100%;
}

.products__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.products__container--name {
	font-size: 1.7rem;
	font-weight: 300;
	padding: 0;
	margin: 1.5rem 0 0 0;
	white-space: nowrap;
}

.products__container--description {
	margin: 0 0 2rem 0;
	color: #909090;
}

.products__containers--price {
	font-size: 1.5rem;
	font-weight: 400;
	color: #5BACC3;
	padding: 0;
	display: flex;
    align-items: center;
	font-weight: bold;
}

.products__buttons {
	display: flex;
	justify-content: center;
	padding: 2rem;
}

.products__button {
	font-size: 1.31rem;
	font-weight: 400;
	background-color: #5BACC3;
	color: white;
	border: #5BACC3;
	padding: 1rem 1.8rem 1rem 2.3rem;
}

/* Discount Styling*/
.discount {
	background-color: #FFF;
	height: 100vh;
}

.discount__containers {
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
}

.discount__container1 {
	display: flex;
	flex-direction: column;
	margin: 6rem;
}

.discount__title {
	font-size: 3.75rem;
	font-weight: 300;
	margin: 0;
}

.discount__container2 {
	background-image: url("../assets/images/coldbrewbackground.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 40vh;
	width: 40%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content:space-around;
	margin-top: 5rem;
    margin-right: 10rem;
}

.discount__images {
	display: flex;
	flex-direction: row;
	gap: 9rem;
	justify-content: start;
}

.discount__image {
	width: 5%;
}

.discount__button {
	font-size: 1.31rem;
	font-weight: 400;
	background-color: #5BACC3;
	color: white;
	border: #5BACC3;
	padding: 1rem 1.8rem 1rem 2.3rem;
	margin-top: 1rem;
}

.discount__text {
	background-color: #393939;
	text-align: center;
	font-size: 2rem;
	padding: 2rem 2rem;
	color: white;
	width: 80%;
	margin: 5rem;
}

/* footer styling */
.footer {
	background-color: #FFF0ED;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0rem 0rem 3rem 0rem;
	flex-wrap: wrap;
}

.footer__title {
	font-size: 2.2rem;
	font-weight: 300;
}

.footer__text {
	font-size: 1.1rem;
	padding: 0;
	margin: 0;
}

.footer__links {
	width: 100%;
	margin: 0 2rem 2rem 0;
}

.footer__links--icon {
	width: 30%;
}
