// Primary Colors
$primary-color-nitroblue: #5BACC3; // nitro-blue
$primary-color-nitropink: #FFF0ED; // nitro-pink

// Neutral colors
$neutral-color-graphite: #393939; // Graphite
$neutral-color-grey: #909090; // Grey
$neutral-color-lightgrey: #F7F7F7; // Light Grey
$neutral-color-white: #FFF; // white
$neutral-color-black: black; // black
